<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BingYu's Game</title>
</head>
<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript">
    function startGame() {
        const wsUri = "ws://127.0.0.1:8080/ws/game?"+document.cookie;
        var conn = new WebSocket(wsUri);
        conn.onmessage = function(ev) {
            alert(ev.data)
        }
    }
</script>

<body>
    敬请期待。。。
    <button onclick="startGame()">开始游戏</button>
</body>
</html>